
<% unless @illnesses %>
<p class="welcome">
  Here at <span class="company">IllnessDetective</span>, our goal is to help people identify their illnesses by
  matching their symptoms with the diseases we have in our database. We have a large collection of 
  illnesses stored in our database, from a common cold to leukemia. All people need
  to do is type in their symptoms into the search bar and wait for matching
  illnesses to come up.
</p>
<% end %>


<%= form_tag(illnesses_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Enter your symptoms here', class: 'search_field' %>
  <%= submit_tag 'Search', class: 'search_submit_button' %>
<% end %>

<% if @illnesses %>
  <% if @illnesses.present? %>
    <h1>Illnesses matching '<%= params[:search] %>'</h1>
    <% @illnesses.each do |illness| %>
        <div class="search-results">
          <h3 class="result-title"><%= link_to(illness.name, illness)%></h3>
          <p class="result-symptoms"><%= illness.symptoms %>
        </div>
    <% end %>
  <% else %>
    <h1>No illnesses matching '<%= params[:search] %>' found!</h1>
  <% end %>
<% end %>
