<!DOCTYPE html>
<html>
  <head>

    <title>Illiness Detector</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('/favicon.png') %>
  </head>

  <body>
    <div class="header">
      <a class="logo" href="/">
        <img src="/logo.svg" height="87" width="220" />
      </a>
      <span class="profile">
        <% if user_signed_in? %>
          <span> <%= current_user.email %> </span>
        <% end %>
        <ul class="hmenu">
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
        </ul>
      </span>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p
    <%= yield %>
  </body>
</html>
